 .csscard-animation {
     width: 100px;
     height: 100px;
     background: red;
     float: left;
      -webkit-transition: width 2s, height 2s; /* For Safari 3.1 to 6.0 */
     transition: width 2s height 2s ease-out;
     margin: 20px;
     z-index: 100;
 }
 .csscard-animation:hover {
   width: 95vw;
   height: 95vh;
   top: 0px;
   left:0px;
   z-index: 100;
   margin: 0;
   overflow: auto;
   transform-origin: left;
 }



 #line1 {
   margin: 50px;
   clear: both;
   border-color: black;
 }

.scrolling-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}
